{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>登录</h2>
    <form id="loginForm" method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
            <label for="username" class="form-label">用户名</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        </div>
        <div class="mb-3">
            <label for="captcha" class="form-label">请输入验证码</label>
            <img src="{{ url_for('captcha') }}" alt="验证码">
            <input type="text" id="captcha" name="captcha" class="form-control" required>

        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    </form>
</div>
{% endblock %}
